# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.env.*
.venv/
venv/
conda-meta/

# Flask
flask_session/
instance/
*.db

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
*.log
.history/
