{% extends "layout.html" %}

{% block title %}
    Login Page
{% endblock %}

{% block main %}
    <h2 class="text-center">LOGIN</h2>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="on" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" />
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" />
        </div>
        <div class="center d-flex flex-row justify-content-center">
            <button class="btn btn-primary mt-3" type="submit">Login</button>
        </div>
    </form>

    <style>
        input::placeholder {
            color: white !important;
        }
    </style>
{% endblock %}
